body {
    background-color: rgb(255, 255, 255);
}

.form {
    margin-bottom: 50px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 250px;
}

a {
    color: #000;
    text-decoration: none;
}

th,
td {
    width: 200px;
}

#more,
#less {
    color: white;
}

#more {
    background-color: blue;
}

#less {
    background-color: red;
}

#remove {
    background-color: yellow;
}

#validate {
    background-color: blue;
}

#clear {
    background-color: red;
}

#validate,
#clear {
    color: white;
}